/* styling af body */
body {
    background-color: #E7DFD8;
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
}

/* styling af navbar */

/* styling af Logo i navbar */
.logo {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 120px;
    height: 110px;
    transition: opacity 0.3s ease; 
}

.logo:hover {
    background-color: transparent;
    cursor: pointer;
    opacity: 0.8; 
}

/* styling af menupunkter */
nav {
    background-color: #E7DFD8;
    padding: 40px;
    position: static;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    width: 14%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

nav li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

nav li:hover {
    background-color: #c9c6c6;
    cursor: pointer;
}

 /* styling af search-bar */
 .search-bar {
    width: 250px; 
    padding: 8px;
    border: 2px solid black; 
    border-radius: 5px; 
    outline: none; 
    border-radius: 50px; 
    background-color: #E7DFD8;
    position: relative;
    left: 1200px;
    top: 20px;
    font-family: sans-serif;
}

/* styiling af stjerne */
.stjerne {
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

/* styling af h1, h2, p */
h1 {
    font-size: 80px;
    font-weight:lighter;
    margin-top: 100px;
    margin-left: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 200;
    margin-left: 70px;
    margin-right: 600px;
}

p {
    font-size: 20px;
    display: inline-block;
}

/* styling af container */
.container {
    text-align: center;
    max-width: 80%;
    margin: 20px auto;

}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box-and-text h2 {
    color: #333333;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase; 
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-right: 30%;
}

.box-and-text img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tekst p {
    text-align: center;
    color: #666666;
    line-height: 2;
    float: right;
    margin-right: 10px;
}

.box-and-text:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ændret skygge ved hover */
}

/* Styling body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: #ededed;
}

/* styling af footer */
.footer {
    padding: 40px;
    background-color: #E7DFD8;
    position: static;
    width: 100%;
    bottom: 0;
}

.footer,
.social {
    text-align: center;
    padding: 25px;
    color: #4b4c4d;
}

.social a {
    font-size: 24px; 
    color: black;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.social a:hover {
    color: grey;
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover {
    opacity: 1;
    color: grey;
}
